*.exe
*.out
*.o
*.gch
*.gif
*.png
*.csv

# VIPRA
VIPRA_SIM
main.cpp
generate_main
build
build_debug

# Output
output.json

# Tests
Test
Behavior_Tests
Vipra_tests

# VIPRA Launcher
node_modules
coverage
dist
certs
modules.json
config.json

# ChainBuilder
*.tgz

# 3rd Party
*.mdj
odeint-v2
.antlr
.idea
package-lock.json

# VSCode
.vscode
.cache

.clangd
