{"id":"ExampleConfig","name":"exampleconfig","description":"this is a test config","modules":{"input_data_loader":"bQIGJDQw0Fgqo4oC3lH7mQerFGTQry","human_behavior_model":"e3y1yG6PSjrWzsptf6jHdfBElwFugQ","output_data_writer":"esBm2A3I0yIbGvzW5bLY0yKHJTzVCj","simulation_output_handler":"0bQVYYyskvxYq6YW4J67z73UB6GbnU","pedestrian_set":"jLcPe7ZP8G15AFH5vPb6Wz2DrIVT94","obstacle_set":"MTpemEr4jv5XTvgwO7q54Qco97Pnt4","entity_set_factory":"h6fJTJdM5L9q8wjXEvN6Cq8D14MUeX","goals":"Xz59g1o8HcsnMJlKaiYw00wZ19rB7P","pedestrian_dynamics_model":"VbGjNW5NCkOmKAxvFmz5KwUV2zz469","configuration_writer":"ud89wadhaujdADHAhjdksa","configuration_reader":"5E4V21CyOwU5iMBfH97qlFDn6DlAlf","clock":"NUpICP9g2eBe9GGYBXmx1jofH9TC7k","data":"MJk1zG6WMVTwUT82QroZXohn3gnfT4","simulation":"QQgWGHtxsVWT1jIEXbxjKG1HA3iqI0","map_loader":"YKzTon61i8LuHr9l15mCY3","pedestrian_loader":"8oGawQjwJZutb4Us6lDU7R","policy_model":"6xc3IZPOYEcdNhPd8x1kWP"}}