{
  "id": "ExampleConfig",
  "name": "exampleconfig",
  "description": "This is the example config file",
  "modules": {
    "output_sink": "dkSDMqF7Q55UWSxva6pm",
    "pedestrian_set": "jLcPe7ZP8G15AFH5vPb6Wz2DrIVT94",
    "obstacle_set": "MTpemEr4jv5XTvgwO7q54Qco97Pnt4",
    "goals": "Xz59g1o8HcsnMJlKaiYw00wZ19rB7P",
    "pedestrian_dynamics_model": "VbGjNW5NCkOmKAxvFmz5KwUV2zz469",
    "map_loader": "YKzTon61i8LuHr9l15mCY3",
    "pedestrian_loader": "8oGawQjwJZutb4Us6lDU7R",
    "policy_model": "6xc3IZPOYEcdNhPd8x1kWP",
    "configuration_reader": "5E4V21CyOwU5iMBfH97qlFDn6DlAlf",
    "human_behavior_model": "e3y1yG6PSjrWzsptf6jHdfBElwFugQ",
    "simulation": "QQgWGHtxsVWT1jIEXbxjKG1HA3iqI0"
  }
}