{
    "id": "aerbpoanerwvpoamerom",
    "name": "testconfig",
    "description": "this is a test config",
    "input_data_loader": {
        "id": "bQIGJDQw0Fgqo4oC3lH7mQerFGTQry"
    },

    "human_behavior_model": {
        "id": "e3y1yG6PSjrWzsptf6jHdfBElwFugQ"
    },

    "output_data_writer": {
        "id": "esBm2A3I0yIbGvzW5bLY0yKHJTzVCj"
    },

    "simulation_output_handler": {
        "id": "RfH40LtLJjHOlPIEeTj0i6ghBygQsZ"
    },

    "pedestrian_set": {
        "id": "jLcPe7ZP8G15AFH5vPb6Wz2DrIVT94"
    },

    "obstacle_set": {
        "id": "MTpemEr4jv5XTvgwO7q54Qco97Pnt4"
    },

    "entity_set_factory": {
        "id": "h6fJTJdM5L9q8wjXEvN6Cq8D14MUeX"
    },

    "goals": {
        "id": "Xz59g1o8HcsnMJlKaiYw00wZ19rB7P"
    },

    "pedestrian_dynamics_model": {
        "id": "VbGjNW5NCkOmKAxvFmz5KwUV2zz469"
    },

    "configuration_reade": {
        "id": "5E4V21CyOwU5iMBfH97qlFDn6DlAlf"
    },

    "clock": {
        "id": "NUpICP9g2eBe9GGYBXmx1jofH9TC7k"
    },

    "data": {
        "id": "MJk1zG6WMVTwUT82QroZXohn3gnfT4"
    },

    "simulation": {
        "id":  "QQgWGHtxsVWT1jIEXbxjKG1HA3iqI0"
    }
}